.movie-card {
  display: block;
  width: 17%;
  margin-bottom: 36px;
  text-decoration: none;
  position: relative;

  button {
    position: absolute;
    right: 32px;
    border: unset;
    width: 40px;
    height: 36px;
    
    img {
      width: 30px;
      cursor: pointer;

      &:active {
        width: 20px;
        transition: width .1s ease-out;
      }
    }
  }

  .movie-poster {
    width: 220px;
    border-radius: 16px;
  }

  h4 {
    color: #333333;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}