.App {
  background-color: #1f1f1f;
  width: 100%;
  height: 100vh;

  h1 {
    margin: 0px;
    color: red;
  }

  .body-container {
    width: 100%;
    background-color: white;
    display: flex;
    gap: 16px;
    padding: 36px 16px 16px 16px;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    box-sizing: border-box;
    min-height: calc(100vh - 80px);

    .data-message {
      margin: auto;
    }
  }
}